<template>
  <div class="row">
    <div class="col-md-8 h1">
      ${title}
    </div>
    <div class="col-md-4 text-right">
      <a route-href="route: CreateProfile" class="btn btn-primary btn-lg" i18n="btnProfile">Profile</a>
      <a route-href="route: Home" class="btn btn-info btn-lg" i18n="btnHome">Home</a>
      <a route-href="route: TrackAssets" class="btn btn-danger btn-lg" i18n="btnTrack">Track</a>
      <a route-href="route: LiveAssets" class="btn btn-success btn-lg" i18n="btnLive">Live</a>
    </div>
  </div>
</template>
